.pattern-lines{
  width: 100%;
  height: 400px;
  position: absolute;

  background: url("../assets/icons/pattern-lines.svg") center;
}

.pattern-line-top{
  position: absolute;
  right: 0;
  
  width: 6.5rem;
  margin-top: 1.5rem;
}

.pattern-circle{
  position: absolute;
  right: 0;
  top: 50%;
  translate: 47% -50%;

  width: 7.125rem;
}

.pattern-line-bottom{
  position: absolute;
  bottom: 0;
  left: 0;

  width: 18.75rem;
}

@media screen and (width >= 1024px) {
  .pattern-line-top{
    width: initial;
  }
  
  .pattern-circle{
    position: absolute;
    right: 50%;
    top: 50%;
    translate: 185% -50%;
  
    width: initial;
  }

  .pattern-line-bottom{  
    width: 42rem;
  }
}